{% extends 'layout.html' %}

{% block body %}

  <h1>DISKSPACE & MEMORY</h1>


    <p><b>usage state of diskstate</b> </p>

  <hr>




     <!--start-->
          <div class="box">
            <div class="box-header">
              <h3 class="box-title">asm diskspace usage</h3>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
              <table id="example1" class="table table-bordered table-hover">
                <thead>
                <tr>
                <th>GROUP_NAME</th>
                 <th>SECTOR_SIZE</th>
                  <th>BLOCK_SIZE</th>
                  <th>ALLOCATION_UNIT</th>
                  <th>STATE</th>
                    <th>TYPE</th>
                     <th>TOTAL_MB</th>
                     <th>USED_MB</th>
                      <th>PCT_USED</th>


                </tr>
                </thead>
                <tbody>
                  {% for row in data1%}
                    <tr>
                                <td>{{ row[0] }}</td>
                                <td>{{  row[1] }}</td>
                                <td>{{  row[2] }}</td>
                                  <td>{{ row[3] }}</td>
                                <td>{{  row[4] }}</td>
                                <td>{{  row[5] }}</td>
                                  <td>{{ row[6] }}</td>
                                <td>{{  row[7] }}</td>
                                <td>{{  row[8] }}</td>


                    </tr>

                  {% endfor %}

                </tbody>
                <tfoot>
                <tr>
                  <th>GROUP_NAME</th>
                 <th>SECTOR_SIZE</th>
                  <th>BLOCK_SIZE</th>
                  <th>ALLOCATION_UNIT</th>
                  <th>STATE</th>
                    <th>TYPE</th>
                     <th>TOTAL_MB</th>
                     <th>USED_MB</th>
                      <th>PCT_USED</th>

                </tr>
                </tfoot>
              </table>
            </div>
            <!-- /.box-body -->
          </div>
          <!-- /.box -->
         <!--end -- >


 <!--start-->
          <div class="box">
            <div class="box-header">
              <h3 class="box-title">asm stat information</h3>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
              <table id="example2" class="table table-bordered table-hover">
                <thead>
                <tr>
                     <th>DISK_GROUP</th>
                  <th>DISK_PATH</th>
                  <th>READS</th>
                  <th>WRITES</th>
                  <th>READ_ERROR</th>
                   <th>WRITE_ERROR</th>
                    <th>READ_TIME</th>
                    <th>WRITE_TIME</th>
                    <th>BYTES_READ</th>
                    <th>BYTES_WRITTEN</th>

                </tr>
                </thead>
                <tbody>
                  {% for row in data2 %}
                    <tr>
                                <td>{{ row[0] }}</td>
                                <td>{{  row[1] }}</td>
                                <td>{{  row[2] }}</td>
                                <td>{{  row[3] }}</td>
                                <td>{{  row[4] }}</td>
                                 <td>{{  row[5] }}</td>
                                 <td>{{  row[6] }}</td>
                                <td>{{  row[7] }}</td>
                                <td>{{  row[8] }}</td>
                                 <td>{{  row[9] }}</td>



                    </tr>

                  {% endfor %}

                </tbody>
                <tfoot>
                <tr>
                     <th>DISK_GROUP</th>
                  <th>DISK_PATH</th>
                  <th>READS</th>
                  <th>WRITES</th>
                  <th>READ_ERROR</th>
                   <th>WRITE_ERROR</th>
                    <th>READ_TIME</th>
                    <th>WRITE_TIME</th>
                    <th>BYTES_READ</th>
                    <th>BYTES_WRITTEN</th>
                </tr>
                </tfoot>
              </table>
            </div>
            <!-- /.box-body -->
          </div>
          <!-- /.box -->
         <!--end -- >



  !--start-->
          <div class="box">
            <div class="box-header">
              <h3 class="box-title">sga information</h3>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
              <table id="example3" class="table table-bordered table-hover">
                <thead>
                <tr>
                 <th>NAMES</th>
                 <th>BYTES</th>
                  <th>RESIZABLE</th>

                </tr>
                </thead>
                <tbody>
                  {% for row in data3 %}
                    <tr>
                                <td>{{ row[0] }}</td>
                                <td>{{  row[1] }}</td>
                                <td>{{  row[2] }}</td>




                    </tr>

                  {% endfor %}

                </tbody>
                <tfoot>
                <tr>
                <th>NAMES</th>
                 <th>BYTES</th>
                  <th>RESIZABLE</th>
                </tr>
                </tfoot>
              </table>
            </div>
            <!-- /.box-body -->
          </div>
          <!-- /.box -->
         <!--end -- >


   <!--start-->
          <div class="box">
            <div class="box-header">
              <h3 class="box-title">sga/pga usage memory</h3>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
              <table id="example4" class="table table-bordered table-hover">
                <thead>
                <tr>
                <th>INSTANCE_NUMBER</th>
                  <th>SGA</th>
                  <th>PGA</th>
                  <th>TOTAL</th>
                  <th>TIME</th>

                </tr>
                </thead>
                <tbody>
                  {% for row in data6 %}
                    <tr>
                               <td>{{ row[0] }}</td>
                                <td>{{  row[1] }}</td>
                                <td>{{  row[2] }}</td>
                                <td>{{  row[3] }}</td>
                                <td>{{  row[4] }}</td>


                    </tr>

                  {% endfor %}

                </tbody>
                <tfoot>
                <tr>
                <th>INSTANCE_NUMBER</th>
                  <th>SGA</th>
                  <th>PGA</th>
                  <th>TOTAL</th>
                  <th>TIME</th>

                </tr>
                </tfoot>
              </table>
            </div>
            <!-- /.box-body -->
          </div>
          <!-- /.box -->
         <!--end -- >
















{% endblock %}
